<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5QZG-DVkE9HJXQbtS75UEADuIIwcQPV0</string>
	<key>GCM_SENDER_ID</key>
	<string>528872969009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doodapp</string>
	<key>PROJECT_ID</key>
	<string>doodapp-ebf46</string>
	<key>STORAGE_BUCKET</key>
	<string>doodapp-ebf46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528872969009:ios:ea1a39e23383870d795610</string>
	<key>DATABASE_URL</key>
	<string>https://doodapp-ebf46.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3513239904563375~9416798161</string>
</dict>
</plist>